@use "../utils";

.main {
    display: flex;
}

.content {
    // flex: 1;
    height: auto;
    background: var(--bg-body);
    border-top: 0.5px solid var(--separator);
    z-index: 2;
    min-height: 390px;
    width: 100%;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.114px;
    }
}

.add-sheet {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;

    border: 1px solid var(--border-filter);
    padding: 6px 10px;
    border-radius: 10px;
    color: #fff;

    &__icon {
        filter: var(--filter-white);
    }
}

.wrap-noti {
    position: relative;
    height: 10px;
    margin-top: -25px;
    margin-bottom: 20px;

    &__text {
        position: absolute;
        top: 0;
        left: 3px;
    }
}

#loading {
    font-size: 1.2rem;
    color: #4880ff;
    margin-top: 10px;
}

#notification {
    font-size: 1rem;
    color: green;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.dashboard {
    display: inline-flex;
    align-items: center;
    min-width: 390px;

    margin-bottom: 15px;
    background-color: var(--border-box);
    background-image: linear-gradient(235deg, #fad390 10%, var(--bg-gradient) 100%);
    padding: 12px 20px;
    border-radius: 10px;
    line-height: 1.4;

    @include utils.screen(md) {
        width: 100%;
    }
}
